<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxylm.springboot.dao.SysUserMapper">
    <resultMap id="userListMap" type="com.cxylm.springboot.systemdto.SysUserDto" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="roleNames" ofType="string" javaType="list">
            <result column="sr_name"/>
        </collection>
        <collection property="roleIds" ofType="long" javaType="list">
            <result column="sr_id"/>
        </collection>
    </resultMap>

    <select id="getUserList" resultMap="userListMap">
        SELECT su.*, sr.id sr_id, sr.name sr_name
        FROM sys_user su
                 LEFT JOIN sys_user_role sur on su.id = sur.user_id
                 LEFT JOIN sys_role sr on
            sur.role_id = sr.id
    </select>
</mapper>
