<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxylm.springboot.dao.StudyTestRecordsMapper">

    <select id="histogram" resultType="com.cxylm.springboot.dto.result.XyDateDto">
        select left(create_time, 10) xData, count(DISTINCT word_id) yData
        FROM study_word_records
        where user_id = #{userId}
          and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= create_time
        GROUP BY xData
        order by xData
    </select>

    <select id="getTestResult" resultType="com.cxylm.springboot.dto.result.TestResultDto">
        select bi.name as bookName, str.score, str.score &gt;= 80 as pass,str.book_id as bookId,
            str.test_type as testType, str.unit_id as unitId,
            str.times,str.create_time as createTime
        from study_test_records as str
                 inner join book_info as bi on str.book_id = bi.id
        where str.user_id = #{userId}
        order by str.create_time desc
    </select>

    <select id="unitScore" resultType="java.lang.Integer">
        select score
        from study_test_records
        where user_id = #{userId}
          and book_id = #{bookId}
          and unit_id = #{unitId}
          and test_type = #{type}
        order by create_time desc
        limit 1
    </select>
</mapper>
